@model DFWFreeways.Models.PageHeader

<div class="header">
    <div>
        @if (!String.IsNullOrEmpty(Model.Shield))
        {
            <img src="@Url.Content(Model.Shield)" />
        }
    </div>
    <div class="title">
        <span>@Model.Title</span>

        @if (!String.IsNullOrEmpty(Model.Subtitle))
        {
            <br /><span>@Model.Subtitle</span>
        }
    </div>
    <div>
        @if (!String.IsNullOrEmpty(Model.UrlParent)) { 
        <a href="@Url.Action("Freeway", new { id = @Model.UrlParent, detail="" })"><nobr>@Model.UrlParentText Home</nobr></a><br />
        }

        <nobr><a href="@Url.Action("index")">DFW Freeways Home</a></nobr>
    </div>
</div>
<div id="last-update"><span style="font-style: italic;">Page last updated or reviewed:</span> <span style="font-weight: bold;">@Model.LastUpdated</span></div>
