@{
    ViewBag.Title = "Aerial";
}
@model DFWFreeways.Models.AerialGalleryList

@section headerSection{
    @Styles.Render("~/Content/css-gallery")
    @Scripts.Render("~/bundles/jquery-tiles")
}





@*<script>
        var thumbnailSize = "tile-item-medium";

        function Thumbnail(size) {
            $(".tile-item").each(function() {
                $(this).removeClass("tile-item-small tile-item-medium tile-item-large tile-item-extralarge");
            });
            if (size == "small") {
                $(".tile-item").addClass("tile-item-small");
                thumbnailSize = "tile-item-small";
            }
            else if (size=="medium") {
                $(".tile-item").addClass("tile-item-medium");
                thumbnailSize = "tile-item-medium";
            }
            else if (size == "large") {
                $(".tile-item").addClass("tile-item-large");
                thumbnailSize = "tile-item-large";
            }
            else if (size == "extralarge") {
                $(".tile-item").addClass("tile-item-extralarge");
                thumbnailSize = "tile-item-extralarge";
            }
        }
        function ExpandThumbnail(element) {
            //var backgroundImage = $(element).css("backgroundImage");
            //var image = backgroundImage.split("(")[1];
            //image = image.substring(0, image.length - 1);
            $element = $(element);
            $tileDiv = $element.closest(".tile-item");
            $tileDiv.find(".collapsed").each(function () { $(this).hide(); });
            $tileDiv.removeClass("tile-item tile-item-small tile-item-medium tile-item-large tile-item-extralarge");
            $tileDiv.toggleClass("tile-expanded");
            $tileDiv.find(".expanded").show();
            //$tileDiv.find(".long-caption").before("<img src='" + image + "'>");
        }
        function CollapseImage(element) {
            $element = $(element);
            $tileDiv = $element.closest(".tile-expanded");
            $tileDiv.find(".collapsed").each(function () { $(this).show(); });
            $tileDiv.find(".expanded").hide();
            $tileDiv.toggleClass("tile-expanded");
            $tileDiv.addClass("tile-item " + thumbnailSize);

        }
    </script>*@

@Html.Partial("_PageHeader", Model.PageHeader)
<div class="button-list">
    <span>
        <div id="btn-all" class="btn btn-default" onclick="ExpandAll();">
            Full Size
        </div>
    </span>
    <span>View thumbnails:</span>
    <span>
        <div id="btn-small" class="btn btn-default" onclick="Thumbnail('small');">
            Small
        </div>
    </span>
    <span>
        <div id="btn-medium" class="btn btn-default btn-selected" onclick="Thumbnail('medium');">
            Medium
        </div>
    </span>
    <span>
        <div id="btn-large" class="btn btn-default" onclick="Thumbnail('large');">
            large
        </div>
    </span>
    <span>
        <div id="btn-extralarge" class="btn btn-default" onclick="Thumbnail('extralarge');">
            extra large
        </div>
    </span>
</div>

<div class="top-text">@Model.Text</div>

<div id="click-message">Click on thumbnails to see larger image, additional image information, and additional image sizes available for viewing.</div>
<div id="tile-container">
    @foreach (DFWFreeways.Models.AerialGalleryItem item in Model.ItemList)
    {
        <div class="tile-item tile-item-medium">
            <div class="collapsed"><table><tr><td onclick="ExpandThumbnail(this);" style="background-image: url(@(Model.FileServer + Model.FolderPath + item.Thumbnail));"></td></tr></table></div>
            <div class="collapsed">@item.GalleryShortCaption</div>
            <div class="expanded" style="display: none;"><img data-source="@(Model.FileServer + Model.FolderPath + item.LowRes)" onclick="CollapseImage(this);"></div>
            <div class="expanded long-caption" style="display: none;">
                <div>
                    @(item.PageCaption)
                    @if (!String.IsNullOrEmpty(item.HighRes))
                    {
                        <a target="_blank" href="@(Model.FileServer + Model.FolderPath + item.HighRes)">High resolution</a>
                    }
                    @if (!String.IsNullOrEmpty(item.Original))
                    {
                        <a target="_blank" href="@(Model.FileServer + Model.FolderPath + item.Original)">Original image</a>
                    }
                </div>
                <div>
                    Photo date: @item.ImageDate.ToShortDateString().
                    @if (item.Status != null)
                    {
                        @(item.Status.StatusDate + " Status: ");
                        <span>@item.Status.Status</span>
                        @(item.Status.Note);
                    }
                </div>
            </div>
        </div>

    }

</div>