@{
    @model DFWFreeways.Models.AerialGalleryList

    ViewBag.Title = @Model.HeadTitle;
}

@section headerSection{
    @Styles.Render("~/Content/css-gallery")
    @Scripts.Render("~/bundles/jquery-tiles")
}




@Html.Partial("_PageHeader", Model.PageHeader)
<div class="button-list">
    <span>
        <div id="btn-all" class="btn btn-default" onclick="ExpandAll();">
            Full Size
        </div>
    </span>
    <span>View thumbnails:</span>
    <span>
        <div id="btn-small" class="btn btn-default" onclick="Thumbnail('small');">
            Small
        </div>
    </span>
    <span>
        <div id="btn-medium" class="btn btn-default btn-selected" onclick="Thumbnail('medium');">
            Medium
        </div>
    </span>
    <span>
        <div id="btn-large" class="btn btn-default" onclick="Thumbnail('large');">
            large
        </div>
    </span>
    <span>
        <div id="btn-extralarge" class="btn btn-default" onclick="Thumbnail('extralarge');">
            extra large
        </div>
    </span>
</div>

<div class="top-text">@Model.Text</div>
<div>These aerial views may be used by anyone for any purpose, including web and print.</div>
<div id="click-message">Click on thumbnails to see larger image, additional image information, and additional image sizes available for viewing.</div>
<div id="tile-container">
    @foreach (DFWFreeways.Models.AerialGalleryItem item in Model.ItemList)
    {
        <div class="tile-item tile-item-medium">
            <div class="collapsed"><table><tr><td onclick="ExpandThumbnail(this);" style="background-image: url(@(Model.FileServer + Model.FolderPath + item.Thumbnail));"></td></tr></table></div>
            <div class="collapsed">@item.GalleryShortCaption</div>
            <div class="expanded" style="display: none;"><img data-source="@(Model.FileServer + Model.FolderPath + item.LowRes)" onclick="CollapseImage(this);"></div>
            <div class="expanded long-caption" style="display: none;">
                <div>
                    @(item.GalleryShortCaption + " " + item.PageCaption)
                    @if (!String.IsNullOrEmpty(item.HighRes))
                    {
                        <a target="_blank" href="@(Model.FileServer + Model.FolderPath + item.HighRes)">High resolution</a>
                    }
                    @if (!String.IsNullOrEmpty(item.Original))
                    {
                        <a target="_blank" href="@(Model.FileServer + Model.FolderPath + item.Original)">Original image</a>
                    }
                </div>
                <div>
                    Photo date: @item.ImageDate.ToShortDateString().
                    @if (item.Status != null)
                    {
                        <span>@(item.Status.StatusDate + " Status: ")</span>
                        <span>@item.Status.Status</span>
                        @(item.Status.Note);
                    }
                </div>
            </div>
        </div>

    }

</div>