@{

    @model DFWFreeways.Models.FreewayHome
    ViewBag.Title = @Model.Title;
}


@section headerSection{
    @Styles.Render("~/Content/css-freeway")
}


<div class="container">

    @Html.Partial("_PageHeader", Model.PageHeader)

    <div class="row">
        <div class="col-xs-12 text">
            @Html.Raw(Model.Text)
        </div>
    </div>
    <div class="row">
        @foreach (DFWFreeways.Models.Feature feature in @Model.Features)
        {

            <div class="col-xs-12 col-sm-6 @((feature.FeatureType.ToLower() == "book") ? "col-md-8" : "col-md-4")">
                <table id="main">
                    <tr>
                        <td class="icon">
                            <img src="@Url.Content("~/images/icon_" + feature.FeatureType.ToLower() + (feature.FeatureProperties.Count==0 ? "_gray" : "") + ".png")" alt="@feature.FeatureType">
                            <div>@feature.IconText</div>
                        <td>
                            @if (feature.FeatureType.ToLower() == "book")
                            {
                                <table id="book">
                                    @foreach (DFWFreeways.Models.FeatureProperty featureProperty in feature.FeatureProperties)
                                    {
                                        <tr>
                                            <td>@featureProperty.BookText</td>
                                            <td>
                                                @* Prevent urlencoding*@



                                                @*<a href="@Url.Action("book", new  { item = featureProperty.QuickView })">Quickview</a>*@
                                                @*<a href="@Html.Raw(Url.Action(featureProperty.QuickView.ToString() , "book"))">Quickview</a>*@
                                                <a href="@HttpUtility.UrlDecode(Url.Action(featureProperty.QuickView.ToString() , "book"))">Quickview</a>
                                                @if (!String.IsNullOrEmpty(@featureProperty.Pdf))
                                                {
                                                    <text>&nbsp;</text><a href="@featureProperty.Pdf">PDF</a>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </table>

                            }
                            else if (feature.FeatureType.ToLower() == "video")
                            {
                                <table id="book">
                                    @foreach (DFWFreeways.Models.FeatureProperty featureProperty in feature.FeatureProperties)
                                    {
                                    <tr>
                                        <td>@featureProperty.Video</td>
                                        <td>
                                            @if (!String.IsNullOrEmpty(@featureProperty.VideoLinkSmall))
                                            {
                                                <a target="_blank" href="@(Model.FolderPath + "video/" + featureProperty.VideoLinkSmall)"><nobr>@featureProperty.VideoLinkSmallText</nobr> </a>
                                            }
                                        </td>
                                        <td>
                                            @if (!String.IsNullOrEmpty(@featureProperty.VideoLinkMedium))
                                            {
                                                <a target="_blank" href="@(Model.FolderPath + "video/" + featureProperty.VideoLinkMedium)"><nobr>@featureProperty.VideoLinkMediumText</nobr> </a>
                                            }
                                        </td>
                                        <td>
                                            @if (!String.IsNullOrEmpty(@featureProperty.VideoLinkLarge))
                                            {
                                                <a target="_blank" href="@(Model.FolderPath + "video/" + featureProperty.VideoLinkLarge)"><nobr>@featureProperty.VideoLinkLargeText</nobr> </a>
                                            }
                                        </td>
                                    </tr>
                                    }
                                </table>
                            }
                            else
                            {
                                if (feature.FeatureProperties.Count > 0)
                                {
                                    foreach (DFWFreeways.Models.FeatureProperty featureProperty in feature.FeatureProperties)
                                    {
                                        if (feature.FeatureType.ToLower() == "aerial")
                                        {
                                            <div><a href="@Url.Action("aerial", new RouteValueDictionary { {"id", Model.HighwayRouting} , {"detail",featureProperty.AnchorUrl} })">@featureProperty.AnchorText</a> </div>

                                        }
                                        else
                                        {
                                            <div><a href="@Url.Action("freeway", new { id= Model.HighwayRouting , detail=featureProperty.AnchorUrl})">@featureProperty.AnchorText</a> </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div>No items for this category</div>
                                }

                            }

                        </td>



                    </tr>
                </table>
            </div>

        }
    </div>

</div>