@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model DFWFreeways.Models.PhotoPage
    ViewBag.Title = @Model.Title;
}

@section headerSection{
    @Styles.Render("~/Content/css_imageDisplay")
    @Scripts.Render("~/bundles/jquery-tiles")

}

@section scripts{

    <script>

        function Thumbnail(element, size) {
            $("#image-container").removeClass("small-thumbnail medium-thumbnail full");
            $(".image").removeClass("expanded");
            $(".btn").removeClass("btn-selected");
            $element = $(element);
            $element.addClass("btn-selected");
            if (size == "small") {
                $("#image-container").addClass("small-thumbnail");
                $("#expand-collapse-instruction").show("fast");
                AddOnclick();
            }
            else if (size == "medium") {
                $("#image-container").addClass("medium-thumbnail");
                $("#expand-collapse-instruction").show("fast");
                AddOnclick();
            }
            else if (size == "full") {
                $("#image-container").addClass("full");
                $("#expand-collapse-instruction").hide("fast");

                $(".image img").each(function () { $(this).attr("onclick", null); });


            }

            //$(".image").each(function() {
            //    $(this).removeClass("small-thumbnail medium-thumbnail full");
            //});
            //if (size == "small") {
            //    $(".image").addClass("small-thumbnail");
            //    thumbnailSize = "tile-item-small";
            //}
            //else if (size=="medium") {
            //    $(".image").addClass("medium-thumbnail");
            //    thumbnailSize = "small-thumbnail";
            //}
            //else if (size == "full") {
            //    $(".image").each(function() { $(this).addClass("full") });
            //    thumbnailSize = "full";
            //}
        }
        //function ExpandThumbnail(element) {
        //    //var backgroundImage = $(element).css("backgroundImage");
        //    //var image = backgroundImage.split("(")[1];
        //    //image = image.substring(0, image.length - 1);
        //    $element = $(element);
        //    $tileDiv = $element.closest(".tile-item");
        //    $tileDiv.find(".collapsed").each(function () { $(this).hide(); });
        //    $tileDiv.removeClass("tile-item tile-item-small tile-item-medium tile-item-large tile-item-extralarge");
        //    $tileDiv.toggleClass("tile-expanded");
        //    $tileDiv.find(".expanded").show();
        //    //$tileDiv.find(".long-caption").before("<img src='" + image + "'>");
        //}
        //function CollapseImage(element) {
        //    $element = $(element);
        //    $tileDiv = $element.closest(".tile-expanded");
        //    $tileDiv.find(".collapsed").each(function () { $(this).show(); });
        //    $tileDiv.find(".expanded").hide();
        //    $tileDiv.toggleClass("tile-expanded");
        //    $tileDiv.addClass("tile-item " + thumbnailSize);

        //}

        function AddOnclick() {
            $(".image img").each(function () {
                if ($(this).attr("onclick")==null) {
                    $(this).attr("onclick", "Resize(this);");
                }
            });

        }

        function Resize(element) {
            $element = $(element);
            $elementDiv = $element.closest("div");

            $elementDiv.fadeTo("slow", 0, function () {
                $elementDiv.toggleClass("expanded");
                $elementDiv.fadeTo("slow", 1);
            });

        }
    </script>


}

<div id="page-container">
    @*<div class="header">
        <div><img src="@Url.Content(Model.Shield)" /> </div>
        <div>@Model.Title</div>
        <div>
            <a href="@Url.Action("Freeway", new { detail = @Model.Parent })"><nobr>@Model.DisplayNumber Home</nobr></a><br />
            <nobr><a href="@Url.Action("index")">Site Home</a></nobr>
        </div>
    </div>
    <div id="last-update">Page last updated or reviewed: <span>@Model.LastUpdated</span></div>*@

    @Html.Partial("_PageHeader", Model.PageHeader)
    <div id="text">@Model.Text</div>
    @if (!String.IsNullOrEmpty(Model.Map))
    {
        <div><img src="@(Model.FolderPath + Model.Map)" /></div>
    }
    <div class="button-list">
        <span>
            <div class="btn btn-default" onclick="Thumbnail(this, 'small');">
                Small Thumbnails
            </div>
        </span>
        <span>
            <div class="btn btn-default btn-selected" onclick="Thumbnail(this, 'medium');">
                Large Thumbnails
            </div>
        </span>
        <span>
            <div class="btn btn-default" onclick="Thumbnail(this, 'full');">
                Full Size
            </div>
        </span>
        <div id="expand-collapse-instruction">Click on individual images to expand and collapse thumbnails. Captions and photo dates are shown with full size images.</div>

    </div>

    <div id="image-container" class="medium-thumbnail">
        @foreach (DFWFreeways.Models.Image image in Model.Images)
        {
            <div class="image">
                <img onclick="Resize(this);" src="@(Model.FolderPath + image.File)" />
                <div class="caption-block">

                    @if (!String.IsNullOrEmpty(image.HighResolution))
                    {
                        <a target="_blank" href="@(Model.FolderPath + image.HighResolution)">High resolution</a>
                    }
                    @image.Caption
                    @{if (!String.IsNullOrEmpty(image.ImageDate))
                      {
                        <text>(Photo date: </text>@(image.ImageDate)<text>)</text>
                      }
                      }

                    @*(@image.ImageDate)*@
                    @if (image.Status != null)
                    {
                        <div>
                            @(image.Status.StatusDate + " Photo status: ")
                            <span>@image.Status.Status</span>
                            @image.Status.Note
                        </div>
                    }


                </div>
            </div>
                    }

    </div>
</div>
