
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DFWFreeways.Models.HomePage

@section headerSection {
    @Styles.Render("~/Content/css-home")

}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>

    <div id="content">

        <div id="header-title">
            <div><img src="@Url.Content("~/images/DFW-Freeways-Text-485.png")" /></div>
            <div>Home of the 2014 ebook <span>Dallas-Fort Worth Freeways, Texas-Sized Ambition</span>, available for free download below. Also featuring extensive aerial and ground photography, plus historical information and a large collection of digitized old highway maps.</div>
        </div>
        <div id="header-container">
            <a href="/">
                <div class="header-old-highway-maps">
                    Old Highway Maps
                </div>
            </a>
            <a href="/">
                <div class="header-aerial">Aerial Gallery</div>
            </a>
        </div>
        <div id="map">
            <img src="@Url.Content("~/images/DFW_location_map-2015-web-700x500.png")" />
            <div id="map-inset">
                     <a href="/">
                        <div id="high-five" class="map-inset">
                            <div>High Five</div>
                        </div>
                    </a>
                
                    <a href="/">
                        <div id="margaret-hunt-hill" class="map-inset">
                            <div>
                                Margaret Hunt Hill Bridge
                            </div>
                        </div>
                    </a>
                    <a href="/">
                        <div id="downtown-dallas" class="map-inset">
                            <div>
                                Downtown Dallas
                            </div>
                            </div>
                    </a>
                    <div id="legend">Click on pink areas for aerial photos.<br />Click on highway shields for info and photos</div>
        </div>
        </div>
        <div id="right-pane" class="clearfix">
            
                
                            @foreach (KeyValuePair<string, List<DFWFreeways.Models.Link>> linkGroup in Model.Links)
                            {
                                <div class="link-group">
                                    <div>@linkGroup.Key</div>

                                    @foreach (DFWFreeways.Models.Link link in linkGroup.Value)
                                    {
                                        <div>
                                            @if (link.GetType().Name == "Link") { 
                                            <a href="@Url.Action("freeway", new { id=link.Url})">@link.DisplayText</a> @link.Description
                                            }
                                            else
                                            {<span class="bold">@link.DisplayText</span> <text> @link.Description</text>}
                                        </div>

                                    }
                                </div>
                            }


                               
            </div>
        <div id="book-area">
            <div class="heading">Dallas-Fort Worth Freeways, Texas-Sized Ambition</div>
            <div class="sub-heading">Free Download!</div>
            <div>Featuring complete historical information and comprehensive photography for North Texas freeways.</div>

            <table>
                <tr>
                    <td>
                        <div id="book-info-container">
                            <div class="book-info">
                                <div class="clearfix one-line">
                                    <div>Released</div>
                                    <div>&nbsp;May 2014</div>
                                </div>
                                <div class="clearfix one-line">
                                    <div>Pages</div>
                                    <div>&nbsp;541</div>
                                </div>
                                <div class="clearfix one-line">
                                    <div>Illustrations</div>
                                    <div>&nbsp;887</div>
                                </div>
                                <div class="clearfix one-line">
                                    <div>eBook</div>
                                    <div>&nbsp;Free</div>
                                </div>
                                <div class="clearfix line-break-narrow">
                                    <div>Printed book price</div>
                                    <div>&nbsp;List: $150<br />&nbsp;Amazon: $100</div>
                                </div>
                                <div class="clearfix line-break-narrow">
                                    <div>ISBN</div>
                                    <div>&nbsp;978-0974160511</div>
                                </div>
                                <div class="clearfix line-break-narrow">
                                    <div>Quantity Printed&nbsp;</div>
                                    <div>&nbsp;160</div>
                                </div>
                                <div class="clearfix line-break-narrow">
                                    <div>Press</div>
                                    <div>&nbsp;Dallas Morning News<br />&nbsp;AIA Dallas Columns</div>
                                </div>
                            </div>
                            <div class="book-front">
                                <img src="@Url.Content("~/images/180x225.png")" />
                            </div>
                            <div class="book-back">
                                <img src="@Url.Content("~/images/180x225.png")" />
                            </div>
                            <div>Dallas-Fort Worth has one of the world’s most extensive urban freeway systems. It is the product of the pro-growth ambition of political and business leaders, and has empowered the ambition of real estate developers, big business, the technology industry and entrepreneurs. The North Texas cultural spirit to think big and build big has guided the ongoing growth and expansion of Dallas-Fort Worth freeways, a transportation system which has propelled North Texas to be among the most economically successful regions in the United States in the post-World War II era. Dallas-Fort Worth Freeways documents the origins, politics, influence and resulting urban landscape of North Texas freeways. </div>

                        </div>
                    </td>

                    <td>
                        <div class="list-heading">Complete Book</div>
                        <table id="complete-book-download">
                            <tr>
                                <td>
                                    <table id="complete-book">
                                        <tr>
                                            <td></td>
                                            <td>@Model.CompleteBook.Title</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="download-info">
                                        <tr>
                                            <td>@Model.CompleteBook.PageCount pages</td>
                                            <td><b><a href="@(Url.Action("QuickView/" + @Model.CompleteBook.QuickViewFolder) + "?startOdd=" + @Model.CompleteBook.StartOdd.ToString() + "&pdfSize=" + Url.Encode(@Model.CompleteBook.PdfSizeMB) + "&pdfFile=" + Url.Encode(@Model.CompleteBook.PdfFile))" title="Fast download, lower quality">Quick View</a></b></td>
                                            <td><b><a target="_blank" href="@(Model.PdfPath + Model.CompleteBook.PdfFile)" title="Large file, high quality">PDF, @Model.CompleteBook.PdfSizeMB</a></b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                            <div class="list-heading">Chapters</div>
                            <table id="book-download">
                                @foreach (DFWFreeways.Models.DownloadItem chapter in Model.Chapters)
                                {

                                    <tr>
                                        <td>
                                            <table id="chapter-name">
                                                <tr>
                                                    <td>@chapter.ChapterNumber</td>
                                                    <td>@chapter.Title</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table class="download-info">
                                                <tr>
                                                    <td>@chapter.PageCount pages</td>
                                                    <td><b><a href="@(Url.Action("QuickView/" + chapter.QuickViewFolder) + "?startOdd=" + chapter.StartOdd.ToString() + "&pdfSize=" + Url.Encode(chapter.PdfSizeMB) + "&pdfFile=" + Url.Encode(chapter.PdfFile))" title="Fast download, lower quality">Quick View</a></b></td>
                                                    <td><b><a target="_blank" href="@(Model.PdfPath + chapter.PdfFile)" title="Large file, high quality">PDF, @chapter.PdfSizeMB</a></b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                }

                            </table>

</td>
                    <td>
                        <div class="list-heading">Excerpts</div>
                        <table id="book-excerpt">
                            @foreach (KeyValuePair<string, List<DFWFreeways.Models.DownloadItem>> excerptGroup in Model.Excerpts)
                            {
                                <tr>
                                    <td class="excerpt-group">@excerptGroup.Key</td>
                                </tr>
                                    foreach (DFWFreeways.Models.DownloadItem excerpt in excerptGroup.Value)
                                    {

                                        <tr>
                                            <td class="excerpt-description">
                                                @excerpt.Title
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="excerpt-download">
                                                <table class="download-info">
                                                    <tr>
                                                        <td>@excerpt.PageCount pages</td>
                                                        <td><b><a href="@(Url.Action("QuickView/" + excerpt.QuickViewFolder) + "?startOdd=" + excerpt.StartOdd.ToString())" >Quick View</a></b></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    }
                            }
                        </table>

                    </td>



                        </tr>
                    </table>



        </div>

    </div>

</body>
</html>

